body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.datepicker input[type="text"] {
  font-size: 14px;
  color: #1769ff;
}
input.MuiInputBase-input.MuiInput-input.MuiInputBase-inputAdornedEnd {
  color: #1769ff;
}
.datepicker {
  max-width: 200px !important;
  width: 100%;
}
.desc_box {
  width: 50%;
}
.desc_box2 {
  max-width: 200px;
  width: 100%;
}
.rc-time-picker {
  flex: 1;
}
.rc-time-picker-panel-combobox {
  display: flex;
  max-height: 200px;
  overflow-y: auto;
  width: 251px;
}
.rc-time-picker .rc-time-picker-input {
  height: 42px;
  border-color: rgba(0, 0, 0, 0.23);
}

.rc-time-picker-panel-combobox .rc-time-picker-panel-select {
  max-height: 100%;
  overflow: visible;
  flex: 1;
}
.rc-time-picker .rc-time-picker-clear {
  top: 50%;
  transform: translateY(-50%);
}
.rc-time-picker-panel-inner {
  margin-top: 44px;
}
.intervalFormControl .custom-form-control {
  max-width: 100% !important;
}
body .MuiOutlinedInput-input {
  padding: 11.5px 14px;
}
@media screen and (max-width: 600px) {
  .custom-form-control {
    max-width: 100% !important;
  }
  .desc_box {
    width: 100%;
  }
  .btn-wrap {
    width: 100% !important;
  }
}
